<html lang="ja">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Baysian ABtest Application</title>
</head> 
<body>
<section class="hero is-warning is-small" style="margin-bottom: 32px;">
    <div class="hero-body">
        <h1 class="title">Baysian ABtest Tool</h1>
        <p class="subtitle">Assuming prior distribution as Beta distribution</p>
    </div>
</section>
<div class="container">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="title is-3">Input</h2>
                <p class="block">Enter the results of the experiment.</p>
            <div class="block">
                <form method="post" action="/" class="block">
                    <h4 class="title is-4">SegmentA</h4>
                    <p>n<input class="input" type="number" name="segA_n" placeholder="1000" value={{ segA_n }} required="required"></p>
                    <p class="block">cv<input class="input" type="number" name="segA_cv" placeholder="100" value={{ segA_cv }} required="required"></p>
                    <h4 class="title is-4">SegmentB</h4>
                    <p>n<input class="input" type="number" name="segB_n" placeholder="1000" value={{ segB_n }} required="required"></p>
                    <p class="block">cv<input class="input" type="number" name="segB_cv" placeholder="100" value={{ segB_cv }} required="required"></p>
                    <button type="submit" class="button is-info is-medium">Run</button>
                </form>
            </div>
        </div>
        <div class="column">
            <h3 class="title is-3">Output</h2>
                <p class="block">The result is output below.</p>
            {% if winner is defined %}
                <h4 class="title is-4">Test Result</h4>
                <div>
                    <p>segment <span style="font-size: 130%"><strong>{{ winner }}</strong></span>  wins with a probability of <span style="font-size: 130%;"><strong>{{ win_prob }}%</strong></span>.</p>
                </div>
                <table>
                <img src="data:image/png;base64,{{ img_res }}">
                <img src="data:image/png;base64,{{ img_diff }}">
            {% endif %}
        </div>
    <div class="columns">
</div>
</body>
</html>