<html lang="ja">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Simple toDo Application</title>
</head> 
<body>
<div style="display: flex; flex-direction: column; min-height: 80vh">
    <div class="container">
        {% block content %}
        <!-- メインコンテンツ -->
        {% endblock %}
    </div>
    <div>
        <form method="POST" action="/input_data">
            <p>segmentA: n数<input type="text" name="segA_n"></p>
            <p>segmentA: cv数<input type="text" name="segA_cv"></p>
            <p>segmentB: n数<input type="text" name="segB_n"></p>
            <p>segmentB: cv数<input type="text" name="segB_cv"></p>
            <p><input type="submit" value="submit"></p>
            <p><input type="submit" value="delete"></p>
        </form>
    </div>
</div>
<br>
<hr>
<footer>
    <div align="center">
        <p>Copyright &copy; RightCode Inc. All right reserves.</p>
        <p>Powered by FastAPI 0.36.0 &amp; starlette 0.12.9</p>
    </div>
</footer>
</body>
</html>